.header {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.header-logo {
  padding-left: 8px;
}

.header-button {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding-right: 4px;
}

.button a {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  width: 72px;
  height: 40px;
  text-align: center;
  padding: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.button:nth-child(2) a {
  background-color: black;
  color: #ffffff;
  border: none;
}

.button a:hover {
  background: #57ad56;
  border: none;
  transition: 0.4s;
  border-radius: 2px;
  color: #ffffff;
  box-shadow: #51853c 1px 1px 0px;
}

.button:active {
  transform: translateX(1px) translateY(1px);
  transition: 0.2s;
  box-shadow: #51853c 0px 0px 0px;
}

.header-bascket {
  display: none;
  width: 19px;
}

/*main*/

.main {
  position: relative;
}

.main-foto {
  width: 100%;
}

.main-foto__fon {
  width: 100%;
  height: 100%;
}

.nav {
  display: none;
  width: 100%;
  height: 80px;
  background: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
  padding-top: 32px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  padding-left: 8px;
}

.nav-list__item {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}

.main-block {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 308px;
  height: 180px;
  top: 131px;
  left: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.main-block__title {
  text-align: center;
  margin-top: 24px;
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}

.main-block__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  row-gap: 16px;
}

.view {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}

.view-button {
  width: 98px;
  height: 32px;
  background-color: #262626;
  border-radius: 16px;
  color: #ffffff;
  padding: 9px 16px;
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.menu {
  width: 100%;
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}

.menu-title {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 12px;
}

.menu__line {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid #757575;
  align-self: center;
  margin-bottom: 43px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
}

.snacks {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #757575;
}

.snacks-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 0 16px;
}

.snacks__title {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 24px;
  color: #1d1d1d;
}

.snacks__addition {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 21px;
  color: #626262;
  padding-bottom: 16px;
}

.snacks__price {
  font-style: normal;
  font-weight: var(--text-font-weigth500);
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
  padding-bottom: 15px;
}

.snacks-foto {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  background-color: #262626;
  padding-left: 8px;
  padding-right: 8px;
}

.footer-logo {
  width: 100%;
  padding: 56px 0 40px 0;
}

.footer-line {
  border-bottom: 1px solid #626262;
  width: 100%;
  height: 1px;
  opacity: 0.4;
  margin-bottom: 32px;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.info-conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.language-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3b3b3b;
  width: 173px;
  height: 40px;
  border-radius: 2px;
  align-items: center;
  padding: 0 8px 0 16px;
  margin-bottom: 32px;
}

.language-box__world-logo {
  width: 15px;
  height: 15px;
}

.language-box__title {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 15px;
  color: #ffffff;
  padding-right: 49px;
}

.language-box__arrow {
  width: 8px;
  height: 14px;
}

.info {
  width: 96px;
  height: 59px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.info__title {
  display: flex;
  flex-direction: row;
}

.info__hash {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #49a144;
}

.info__logo {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.social {
  width: 96px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-logo {
  width: 24px;
  height: 24px;
}

.footer-list {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}

.footer-list__link {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 15px;
  color: #ffffff;
}

.footer-auth {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 40px;
}

.footer-auth__link {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .header-bascket {
    display: block;
    margin-left: 23px;
    margin-right: 18px;
  }

  .main-block {
    top: 80px;
    width: 432px;
    height: 204px;
  }

  .nav {
    display: block;
  }

  .main-block__view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 34px 40px 38px 40px;
  }

  .main-block__title {
    font-size: 36px;
    line-height: 42px;
  }

  .menu-title {
    text-align: left;
    margin-bottom: 32px;
  }

  .menu__line {
    display: none;
  }

  .snacks {
    border: 1px solid rgba(117, 117, 117, 0.2);
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 150px;
  }
  .info-conteiner {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
  }

  .footer-auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 200px;
  }
}

@media (min-width: 1024px) {
  .menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 39px;
  }

  .snacks {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #757575;
  }
}
