.header {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.header-logo {
  padding-left: 8px;
}

.header-button {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding-right: 4px;
}

.button a {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  width: 72px;
  height: 40px;
  text-align: center;
  padding: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.button:nth-child(2) a {
  background-color: black;
  color: #ffffff;
  border: none;
}
