.header {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.header-logo {
  padding-left: 8px;
}

.header-button {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding-right: 4px;
}

.button a {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  width: 72px;
  height: 40px;
  text-align: center;
  padding: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.button:nth-child(2) a {
  background-color: black;
  color: #ffffff;
  border: none;
}

.button a:hover {
  background: #57ad56;
  border-radius: 2px;
  color: #ffffff;
}

/*main*/

.name {
  position: relative;
}

.name-foto {
  width: 100%;
}

.name-block {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 308px;
  height: 180px;
  top: 131px;
  left: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.name-block__title {
  text-align: center;
  margin-top: 24px;
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}

.name-block__view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
  margin: 40px 0 16px 0;
}

.view-button {
  width: 98px;
  height: 32px;
  background-color: #262626;
  border-radius: 16px;
  color: #ffffff;
  padding: 9px 16px;
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.menu {
  width: 100%;
  margin-top: 111px;
  display: flex;
  flex-direction: column;
}

.menu-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #1d1d1d;
  margin-bottom: 12px;
}

.menu__line {
  width: 50px;
  height: 1px;
  border-bottom: 1px solid #757575;
  align-self: center;
  margin-bottom: 43px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}

.snacks {
  width: 308px;
  height: 102px;
  margin-left: 8px;
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #757575;
}

.snacks-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snacks__title {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 24px;
  color: #1d1d1d;
}

.snacks__addition {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 21px;
  color: #626262;
  padding-bottom: 16px;
}

.snacks__price {
  font-style: normal;
  font-weight: var(--text-font-weigth500);
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
  padding-bottom: 15px;
}

.footer {
  width: 100%;
  background-color: #262626;
  padding-left: 8px;
  padding-right: 8px;
}

.footer-logo {
  width: 100%;
  padding: 56px 0 40px 0;
}

.footer-line {
  border-bottom: 1px solid #626262;
  width: 100%;
  height: 1px;
  opacity: 0.4;
  margin-bottom: 32px;
}

.language-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3b3b3b;
  width: 173px;
  height: 40px;
  border-radius: 2px;
  align-items: center;

  padding: 0 8px 0 16px;
  margin-bottom: 32px;
}

.language-box__world-logo {
  width: 15px;
  height: 15px;
}

.language-box__title {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 15px;
  color: #ffffff;
  padding-right: 49px;
}

.language-box__arrow {
  width: 8px;
  height: 14px;
}

.info {
  width: 96px;
  height: 59px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.info__title {
  display: flex;
  flex-direction: row;
}

.info__hash {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #49a144;
}

.info__logo {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.social {
  width: 96px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-logo {
  width: 24px;
  height: 24px;
}

.footer-list {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}

.footer-list__link {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: var(--font-size-14);
  line-height: 15px;
  color: #ffffff;
}

.footer-auth {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-auth__link {
  font-style: normal;
  font-weight: var(--text-font-weigth400);
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
